---
interface Props {
    title: string
    description: string
}

import Animation from '../../public/icons/icon-animation.svg'
import Design from '../../public/icons/icon-design.svg'
import Photography from '../../public/icons/icon-photography.svg'
import Crypto from '../../public/icons/icon-crypto.svg'
import Business from '../../public/icons/icon-business.svg'

const { title, description } = Astro.props

// Mapea los títulos a los iconos correspondientes
const iconMapping: Record<string, any> = {
  'Animation': Animation,   
  'Design': Design,
  'Photography': Photography,
  'Crypto': Crypto,
  'Business': Business
};

// const IconComponent = iconMapping[title];
---

<article class="w-[340px] py-10 px-6 bg-custom-white relative rounded-[10px] mt-6">
    <picture class="absolute top-[-30px]">
        <img src={iconMapping[title].src} alt=`Icon ${title}`>
    </picture>
    <header>
        <h2 class="text-xl font-extrabold text-custom-blue mb-4">{title}</h2>
        <p class="text-base text-custom-gray leading-[26px]">{description}</p>
    </header>
    <footer class="mt-5">
        <span class="text-lg leading-7 text-custom-pink font-bold">Get Started</span>
    </footer>
</article>