---
import LogoLight from "@/assets/icons/LogoLight.astro";
import Button3 from "@/components/Button3.astro";
---

<footer class="bg-custom-blue px-4 table:px-8 py-8">
  <div class="max-w-[1110px] min-w-[350px] flex items-center justify-between m-auto">
    <LogoLight />
    <Button3 content="Get Started"/>
  </div>
</footer>
