---
import LogoDark from "@/assets/icons/LogoDark.astro";
import Button1 from "./Button1.astro";
---

<header class="max-w-[1110px] min-w-[320px] mx-4 table:mx-8 desktop:m-auto">
  <nav class="flex justify-between items-center mt-6">
    <LogoDark />
    <Button1 content="Get Started" />
  </nav>
</header>
